<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/main.css" />
   <link rel="shortcut icon" href="faviconNuevo.png" type="image/x-icon">
    <script
      src="https://kit.fontawesome.com/66349fc88a.js"
      crossorigin="anonymous"
    ></script>
   <title>Proyecto Cohete</title>
</head>

<body>
   <div class="container">

         <h2>¡Despegue! 🚀</h2>
         <a class="btn" href="/">Ver todos los proyectos</a>

         <img class="photo" src="<%= photo %>" alt="" />

         <section class="card">
            <section class="info-project">
               <p class="subtitle">Personal Project Card</p>
               <hr class="line" />

               <h2 class="title">
                  <%= name %>
               </h2>
               <p class="slogan">
                  <%= slogan %>
               </p>
               <p class="desc">
                  <%= desc %>
               </p>
               <div class="techDemoRepo">
                  <section class="technologies">
                     <p class="text">
                        <%= technologies %>
                     </p>
                  </section>
                  <section class="demo repo">
                     <a href="<%= demo %>" target="_blank" rel="noreferrer">
                        <i class="fa-solid fa-globe"></i>
                     </a>
                     <a href="<%= repo %>" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-github"></i>
                     </a>
                  </section>
               </div>
            </section>

            <section class="info-autor">
               <img class="image" src="<%= image %>" alt="" />
               <p class="job">
                  <%= job %>
               </p>
               <p class="name">
                  <%= author %>
               </p>
            </section>
         </section>
   </div>
</body>

</html>